<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.App">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.example.App.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoPrincipal">
        <activity
            android:name="com.example.App.activities.UbicameActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="false" />
        <activity
            android:name="com.example.App.activities.InfoActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="false" />
        <activity
            android:name="com.example.App.activities.NotasActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="false" />
        <receiver
            android:name="com.example.App.AutoexecReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.example.App.services.ClimaService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.example.App.activities.ClimaActivity"
            android:exported="false"
            android:label="@string/clima" />
        <activity
            android:name="com.example.App.activities.HomeActivity"
            android:exported="false"
            android:label="Home Page" />
        <activity
            android:name="com.example.App.activities.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true"
            android:label="Log In ">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>